<% provide(:title, "About") %>

    <h1>About</h1>
    <p>
      This is a practice application developed by Sihao Xu. In the development process,
      I learned how to build a professional-grade website from the beginning based on 
      <a href="http://rubyonrails.org/">Ruby on Rails</a> according to the Tutorial book  
      The <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
      Tutorial</em></a> by <a href="http://www.michaelhartl.com/">Michael Hartl</a>.
      And the application was deployed in heroku <a href="https://www.heroku.com/">https://www.heroku.com/</a>.
      Bootstrap was used for the layout of the application <a href="http://getbootstrap.com/">http://getbootstrap.com/</a>.
    </p>
