<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact Sihao Xu via email s.xu@wustl.edu. Contact the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>