
        
<div class="center jumbotron">
        <h1>Welcome to The Home Page</h1>
        <h2>
        This is a practice application developed by Sihao Xu based on 
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        according to the <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
        Tutorial</em></a> book by <a href="http://www.michaelhartl.com/">Michael Hartl</a>.
        </h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
</div>



