
<% provide(:title, 'Apartment/house List') %>
<h1>Apartment/house List</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Unit</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <%= will_paginate %>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td>| <%= location.address %> </td>
        <td>| <%= location.city %> </td>
        <td>| <%= location.state %> </td>
        <td>| <%= location.zipcode %> </td>
        <td>| <%= location.unit %> </td>
        <td>| <%= location.latitude %> </td>
        <td>| <%= location.longitude %> </td>
        <td> <%= link_to 'Show', location %> </td>
        <% if can? :destroy, location %>
        <td>|</td>
        <td> <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>


</table>

<%= will_paginate %>

